html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: grey
}

header {
    display: block;
    position: relative;
}

/*Image Classes defined below
    em - equal measure = 2 x definition*/
.img_doft {
    height: 6em;
}

.img_reload {
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1em;
}

.img_close{
    position: absolute;
    right: .5em;
    bottom: .5em;
    width: 1em;
}

.img_loupe {
    position: absolute;
    right: 1.5em;
    top: .5em;
    height: 8em;
}

.img_cluster {
    width: 100%;
}

.img_icon {
    display: block;
    margin: 1em;
    width: 4em;
}

/*BANNERS*/
.banner_top {
    position: relative;
    margin: auto;
    width: 85em;
}

.banner_right {
    min-height: 30em;
}

.banner_box {
    margin: 1em;
    padding: .5em;
    box-sizing: border-box;
    background-color: rgb(175, 175, 175);
    border-radius: .5em;
    box-shadow: .5em .5em .5em black;
}

.banner_left {
    padding: 0 1.5em;
}

/*Columns*/
.col1, .col2, .col8, .col10 {
    display: inline-block;
    vertical-align: top;
}
.col2 {width: 12.5%;}
.col8 {width: 72.5%;}

/*Text Box*/
.text_box {
    position: absolute;
    bottom: -5em;
    left: 1em;
    width: 25em;
    padding: 1em 1em 3em 1em;
    background-color: lightgreen;
}